.animation{
    display : flex;
    justify-content: space-between;

    &__bloc{
        display : flex;
        justify-content: center;
        align-items: center;
        width : 100px;
        height : 100px;
        border-radius: 50%;
        background-color: rgb(247, 82, 17);
        color : #fff;
        font-size: 3rem;
        animation : anim-entete 1s forwards;
    }
}
.animation__bloc:hover{
    width: 200px;
    height:200px;
    
}
.animation__bloc{
    transition: width 2s, height 2s;
    animation-name:animationBloc ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes animationBloc {
    0%   {color:rgb(255, 255, 255); }
    25%  {color:yellow; }
    50%  {color:blue; }
    75%  {color:green; }
    100% {color:rgb(255, 255, 255); }
  }

@keyframes anim-entete {
    0% {
      transform : translateY(-100vh);  
    }
    
    100% {
        transform : translateY(10);  
    }
}

.formation__cours:hover{
    color:white;
    background-color: black;
    width: 300px;
    height:400px;
}
.formation__cours{
    transition: width 2s, height 2s;
}