/* ---------------- BACKGROUND */
$color__background-body : hsl(350, 39%, 30%);
$color__background-main : hsl(204, 37%, 25%);
$color__background-cours : hsl(209, 90%, 48%);
$color__background-header : hsl(14, 66%, 66%);
$color__background-barre : hsl(17, 84%, 31%);
$color__background-footer : hsl(225, 81%, 59%);
$color__background-link : hsl(229, 75%, 47%);
$color__background-link-hover : hsl(236, 66%, 26%);

/* ---------------- LIENS */
$color__link : hsl(18, 27%, 38%);
$color__link-hover : hsl(0, 86%, 32%);
$color__link-visited : hsl(19, 29%, 28%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 91%, 50%);
$color__link__footer-hover : hsl(122, 61%, 38%);
$color__link__footer-visited : hsl(231, 30%, 13%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(0, 82%, 68%);
$color__link__header-hover : hsl(123, 63%, 72%);
$color__link__header-visited : hsl(261, 82%, 37%);

/* ---------------- FONT */
$color__font-header : rgb(250, 146, 146);
$color__font-main :rgb(172, 53, 20);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 202, 188);